astroid==2.6.5
Brotli==1.0.9
click==8.0.1
dash==1.21.0
dash-core-components==1.17.1
dash-cytoscape==0.3.0
dash-html-components==1.1.4
dash-table==4.12.0
flake8==3.9.2
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.1.0
importlib-metadata==4.6.1
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
plotly==5.1.0
pycodestyle==2.7.0
pyflakes==2.3.1
pylint==2.9.6
six==1.16.0
tenacity==8.0.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
